<a href="https://colab.research.google.com/github/team0243/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน Textbox จะเป็นภาษา markdown

ข้อดีหนึ่งของ Python คือี package สำหรับการทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas  #เรียกใช้ package โดยการ import ต่อด้วยชื่อ package

In [2]:
import pandas as pd  #เป็นการ import เหมือนกัน แต่เปลี่ยนการตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่จะต้องใช้ในวิชานี้

In [4]:
data_df = pd.read_csv('data.csv')    #ใช้คำสั่งเพื่อนำ data เข้ามา

In [ ]:

data_df   #เรียกดู data

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python
##variable




ข้อกำหนดในการตั้งชื่อตัวแปร

1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12          #สร้างตัวแปลใส่เลข 12 แบบไม่มี quote จะเป็นตัวเลข
variable_b = 'abcde'   # ' เรียกว่า quote
variable_c = variable_a   #ค่าของ variable_c เท่่ากับ ค่าของ variable_a

In [ ]:


variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

In [6]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [7]:
# พยายามใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้แต่ไม่ควรใช้
ตัวแปร = 3           
ตัวแปร

3

In [8]:
# ตัวเล็กกับตัวใหญ่ต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [9]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [10]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [11]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable = 1

In [12]:
print(variable)

1

In [13]:
variable_a = 12          #สร้างตัวแปลใส่เลข 12 แบบไม่มี quote จะเป็นตัวเลข
variable_b = 'abcde'   # ' เรียกว่า quote
variable_c = variable_a   #ค่าของ variable_c เท่่ากับ ค่าของ variable_a
variable_d = -41.2
variable_4 = "KKU"  # " เรียกว่า double quote

In [14]:
variable_x =  variable_c + variable_d
print(variable_x)

-29.200000000000003

In [15]:
variable_x

-29.200000000000003

In [16]:


variable_a + variable_b

TypeError: ignored

In [17]:
print(variable_b + variable_4)  # print สามารถพิมพ์อะไรก็ได้ลงไปใน ()

abcdeKKU

# Casting int() str()

- เปลี่ยนชนิดของตัวแปรได้

In [18]:
print(variable_x)            # เปลี่ยนให้เป็นจำนวนเต็ม ตอนแรกเป็น float เป็น int
print(int(variable_x))

-29.200000000000003
-29

In [19]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [20]:
V_X + variable_a

TypeError: ignored

In [21]:
variable_a + V_X

TypeError: ignored

In [22]:
V_X

'-29.200000000000003'

In [23]:
float(V_X)

-29.200000000000003

## Data Structure
### list()

In [24]:
list_a = [1,2,0.2,'abs' ]  # [ ] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [25]:
list_a

[1, 2, 0.2, 'abs']

In [26]:

list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [27]:
len(list_b)   # ดูว่าใน list_b มีสมาชิกกี่ตัว

4

In [28]:
list_b[3]

[1, 2, 0.0]

In [29]:
list_b[3][1]

2

string คือ list ของตัวหนังสือ

In [30]:
a = 'Stat KKU'

In [31]:
a[4]

' '

# วิธีการสร้าง list ว่าง

In [32]:
list_c = list()  #แบบที่ 1
list_d = []      #แบบที่ 2

In [33]:
list_c

[]

In [34]:
list_d

[]

- เติมค่าลงไปใน list (.append())

In [35]:
list_d.append('a')

In [36]:
list_d

['a']

In [37]:
list_d.append(56)

In [38]:
list_d

['a', 56]

### การชี้ค่าใน list (indexing)

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [39]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [40]:
list_b[-1]   #ชี้ค่าข้างหลังสุด

[1, 2, 0.0]

## list slicing
เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า: ตัวก่อนตัวหลัง] \
ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง]

In [41]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [42]:
list_ex[1:6]   # : สัญลักษณ์ของ slicing
                   # เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า: ตัวก่อนตัวหลัง]

[2, 3, 5, 6, 8]

In [43]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [44]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [45]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [46]:
list_ex[::2]

[1, 3, 6, -1, 50]

In [47]:
list_ex[::-1]   # การกลับ list จากหลังมาหน้า จากหน้ามาหลัง

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [48]:
a

'Stat KKU'

In [49]:
a[5:]

'KKU'

In [50]:
a[-3:]

'KKU'

In [51]:


a[5:8]

'KKU'

In [52]:

a[5::]

'KKU'

In [53]:
a[-3::]

'KKU'

In [54]:




a[-3::1]

'KKU'

### list + list

In [55]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [56]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

format string

```python
f 'string{ตัวแปร}'
```

In [57]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

In [58]:
f'ตัวแปร list_ex มีค่าคือ {list_ex}'

'ตัวแปร list_ex มีค่าคือ [1, 2, 3, 5, 6, 8, -1, 20, 50, 0]'

# Loop

ทำงานซ้ำๆ หรือ ทำงานคล้ายๆกัน


indent
```python
for ตัวแปรที่จะรับค่าจาก list in list: ลิสต์ที่จะนำมาวนลูป: 
     do something  #in loop
     do another thing   #in loop

do snother things  # out side loop
```

In [59]:
for i in [1,2,3,4,5]:
     print(i+1)

2
3
4
5
6

In [60]:

for x in [1,2,3,4,5]:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [61]:

list5=[1,2,3,4,5]
for x in list5:
     print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [62]:

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
for i in range(2,7):
     print(i)

2
3
4
5
6

In [64]:
for i in range(2,7,2):
     print(i)

2
4
6

In [65]:

for i in range(5):
     print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [66]:
for i in range(5):
     print('hahaha')
     x = i + 3
     print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

## Nested loop

loopซ้อนloop

In [67]:
for i in range(3):
     print(f' now i = {i}')
     print('start j loop')
     for j in range(4):
          print(f'i={i} j={j} i+j={i+j}')
     print('end j loop')

 now i = 0
start j loop
i=0 j=0 i+j=0
i=0 j=1 i+j=1
i=0 j=2 i+j=2
i=0 j=3 i+j=3
end j loop
 now i = 1
start j loop
i=1 j=0 i+j=1
i=1 j=1 i+j=2
i=1 j=2 i+j=3
i=1 j=3 i+j=4
end j loop
 now i = 2
start j loop
i=2 j=0 i+j=2
i=2 j=1 i+j=3
i=2 j=2 i+j=4
i=2 j=3 i+j=5
end j loop

## Condition (if statement)

``` python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทไงาน 2
```

In [68]:
stringx = 'nonttanont taont916 looooooovvvvveeeeee'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 characters')

nonttanont taont916 looooooovvvvveeeeee is longer than 30 characters

In [69]:
stringx = 'nonttanont taont916 looooooovvvvveeeeee'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')

``` python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทไงาน 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
      ทำงานที่ x 
```

In [70]:
stringx = 'nonttanont taont916 looooooovvvvveeeeee'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')
else:
      print(f'{stringx} in {len(stringx)} characters long')    #ถ้าไม่มากกว่า100 ให้แสดงว่ามีเท่าไหร่

nonttanont taont916 looooooovvvvveeeeee in 39 characters long

``` python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif  เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif  เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
      ทำงานที่ x 
```

In [71]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long, try again!')
elif len(input_pass) < len(password):
    print('Too short, try again!')
else:
    print('Wrong password, try again!')

Wrong password, try again!

Quiz 1 หา min

In [72]:
list_ex = [1,5,9,-19,-2,0]   #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10.30 : Quiz1)

In [73]:
list_ex[3:4:2]

[-19]

In [74]:
# เฉลย
min = 1000000  #ตั้งค่าไว้ก่อนให้เยอะๆ

for i in list_ex:   #วนเข้าไปดูตัวที่น้อยสุด
     if i < min:
         min = i
print(min)

-19

In [75]:
min = 1000000  #ตั้งค่าไว้ก่อนให้เยอะๆ
print(list_ex)
for i in list_ex:   #วนเข้าไปดูตัวที่น้อยสุด
     print(f'now i = {i}, min = {min}')
     print('start condition')
     if i < min:
        print(f'i < min, update min -> {i}')
        min = i
     else:
          print('not update')
     print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 1000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
not update
end condition, go to next i
now i = 9, min = 1
start condition
not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
not update
end condition, go to next i
now i = 0, min = -19
start condition
not update
end condition, go to next i
-19

HW 3 ตัดเกรด

In [76]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]   #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [77]:
print(score)
for i in score:
   if  i  >= 80:
       print(f'คะเเนน เท่ากับ {i} grade "A" ')
   elif  i  >= 75:
         print(f'คะเเนน เท่ากับ {i} grade "B+" ')
   elif  i  >= 70:
         print(f'คะเเนน เท่ากับ {i} grade "B" ')
   elif  i  >= 65:
         print(f'คะเเนน เท่ากับ {i} grade "C+" ')
   elif  i  >= 60:
         print(f'คะเเนน เท่ากับ {i} grade "C" ')
   elif  i  >= 55:
         print(f'คะเเนน เท่ากับ {i} grade "B+" ')
   elif  i  >= 50:
         print(f'คะเเนน เท่ากับ {i} grade "B" ') 
   else:
         print(f'คะเเนน เท่ากับ {i} grade "F" ')

[49, 65, 70, 95, 82, 55, 89, 20, 77, 77, 81, 59, 10]
คะเเนน เท่ากับ 49 grade "F"
คะเเนน เท่ากับ 65 grade "C+"
คะเเนน เท่ากับ 70 grade "B"
คะเเนน เท่ากับ 95 grade "A"
คะเเนน เท่ากับ 82 grade "A"
คะเเนน เท่ากับ 55 grade "B+"
คะเเนน เท่ากับ 89 grade "A"
คะเเนน เท่ากับ 20 grade "F"
คะเเนน เท่ากับ 77 grade "B+"
คะเเนน เท่ากับ 77 grade "B+"
คะเเนน เท่ากับ 81 grade "A"
คะเเนน เท่ากับ 59 grade "B+"
คะเเนน เท่ากับ 10 grade "F"

## Function

```python
def ชื่อฟังก์ชัน(input1,input2,...):
  งานxxx
  งานyyy
    retrun output
```

ส่วนประกอบ

##Example1

In [97]:
def grading(score) :
    if  score  >= 80:
        grade = 'A'
    elif score  >=  75:
        grade = 'B+'
    elif score  >=  70:
        grade = 'B'
    elif  score  >=  65:
        grade = 'C+'
    elif score  >=  60:
        grade = 'C'
    elif  score  >=  55:
        grade = 'D+'
    elif  score  >=  50:
        grade = 'D'
    else:
        grade = 'F'

    return grade

In [99]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score :
  print(f'คะแนน {i} ได้เกรด {grading(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

In [105]:
def grading_list(list_score) :
    grade_list =[]
    for score in list_score:
         if  score  >= 80:
            grade = 'A'
         elif score  >=  75:
            grade = 'B+'
         elif score  >=  70:
             grade = 'B'
         elif  score  >=  65:
             grade = 'C+'
         elif score  >=  60:
             grade = 'C'
         elif  score  >=  55:
              grade = 'D+'
         elif  score  >=  50:
             grade = 'D'
         else:
              grade = 'F'
    grade_list.append([score,grade])
    return grade_list

In [106]:
g = grading_list(score)
g

[[10, 'F']]

In [ ]:
######

In [113]:
def grading2(score) :
    if  score  >= 80:
        return  'A'
    elif score  >=  75:
        return  'B+'
    elif score  >=  70:
        return  'B'
    elif  score  >=  65:
        return  'C+'
    elif score  >=  60:
        return  'C'
    elif  score  >=  55:
        return  'D+'
    elif  score  >=  50:
        return  'D'
    else:
        return  'F'

In [114]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score :
  print(f'คะแนน {i} ได้เกรด {grading2(i)}')

คะแนน 49 ได้เกรด F
คะแนน 65 ได้เกรด C+
คะแนน 70 ได้เกรด B
คะแนน 95 ได้เกรด A
คะแนน 82 ได้เกรด A
คะแนน 55 ได้เกรด D+
คะแนน 89 ได้เกรด A
คะแนน 20 ได้เกรด F
คะแนน 77 ได้เกรด B+
คะแนน 77 ได้เกรด B+
คะแนน 81 ได้เกรด A
คะแนน 59 ได้เกรด D+
คะแนน 10 ได้เกรด F

Example 2 ไม่มี input

In [115]:
def mypi():
        return 3.14

In [ ]:
r = 10 
print(f'รัศมี{r} จะมีเส้นรอบวง = {2*mypi()*r}')

Example 3 ไม่มี output

In [ ]:
def grading_nooutput(score) :
    if  i  >= 80:
        print('ได้เกรด A')
    elif i  >=  75:
        print('ได้เกรด B+')
    elif i  >=  70:
        print('ได้เกรด B')
    elif  i  >=  65:
        print('ได้เกรด C+')
    elif i  >=  60:
        print('ได้เกรด C')
    elif  i  >=  55:
        print('ได้เกรด D+')
    elif  i  >=  50:
        print('ได้เกรด D')'
    else:
        print('ได้เกรด F')

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score :
print(f' คะแนน {i}', end='  ' )
grading_nooutput(i)

Example 3(ไม่มี input และ out put)

In [ ]:
def draw_rect() :
        print('==========')
        print('|                     |')
        print('|                     |')
        print('==========')

In [ ]:
draw_rect()
draw_rect()

##ลักษณะของ input(parameter)
*จำเป็นต้องใส่\
*ไม่จำเป็นต้องใส่

In [ ]:
def A(input1, input2 = 3):
        return input+input2

In [ ]:
A(1)

In [ ]:
A(1,6)

In [ ]:
A()