<a href="https://colab.research.google.com/github/team0243/DWDM21/blob/main/data_viz_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project กลุ่ม Therapy Python** 

``ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 20/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง``
``
เริ่มพรีเซ็นต์ 25 มีค 30 มีค 1 เมษา
``

** ที่มาของข้อมูล **

1.ข้อมูลรายงาน COVID-19 ประจำประเทศไทย  

https://data.go.th/dataset/covid-19-daily ประกอบด้วย 4 ชุดข้อมูลได้แก่

1.1 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 มกราคม 2564 ถึงวันที่ 12 สิงหาคม 2564

1.2 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 สิงหาคม 2564 ถึงวันที่ 25 ตุลาคม 2564 

1.3 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 25 ตุลาคม 2564 ถึงวันที่ 27 กุมภาพันธ์ 2565 

1.4 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 28 กุมภาพันธ์ 2565 ถึงวันที่ 20 มีนาคม 2565

2.ข้อมูลในแต่ละภูมิภาคฃ

3.ข้อมูลที่เลือกเอง

## อัพโหลดข้อมูลจาก Drive

**Import data**

In [3]:
import numpy as np

In [4]:
import pandas as pd     # pandas ใช้จัดการข้อมูลที่เป็นตาราง
import os       # os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน

In [5]:
from google.colab import drive      # ชี้ไฟล์ที่อยู่ใน google drive เพื่อเชื่อมต่อไฟล์
drive.mount('/content/drive')
path =  '/content/drive/My Drive/Data_viz_project'    # ชี้ dirve ที่เราต้องการ

Mounted at /content/drive

## เตรียมข้อมูลData covid ทั้ง 4 ชุด

ข้อมูลชุดที่ 1  รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 มกราคม 2564 ถึงวันที่ 12 สิงหาคม 2564

In [6]:
data_file_path = os.path.join(path,'confirmed-cases.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid1 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
display(data_covid1.head(2),data_covid1.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

In [8]:
#search.info()

NameError: ignored

In [10]:
data_covid1.info() #ตรวจสอบ Missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839771 entries, 0 to 839770
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   No.                    839771 non-null  int64
 1   announce_date          839771 non-null  object
 2   Notified date          836976 non-null  object
 3   sex                    784876 non-null  object
 4   age                    763606 non-null  object
 5   Unit                   763746 non-null  object
 6   nationality            755567 non-null  object
 7   province_of_isolation  839499 non-null  object
 8   risk                   838677 non-null  object
 9   province_of_onset      740737 non-null  object
 10  district_of_onset      680992 non-null  object
dtypes: int64(1), object(10)
memory usage: 70.5+ MB

1.ใช้ fillna() เปลี่ยนข้อมูลที่มีค่า NaN เป็นค่าที่ระบุ

In [11]:
data_covid1up = data_covid1.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid1up.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล

In [12]:
data_covid1up.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [18]:
data_covid1[['age']].describe()

             age
count   763606.0
unique     238.0
top         25.0
freq     19058.0

In [21]:
a = 763606.0%19058.0

In [22]:
a

1286.0