<a href="https://colab.research.google.com/github/team0243/DWDM21/blob/main/Data103(Chapter3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #ทำงานกับข้อมูลลักษณะ ตาราง

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os #จัดการไฟล์และ path

In [4]:
path = '/content/drive/My Drive/DWDM2021_DATA'

In [14]:
data_cases = pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_cases

             No. announce_date  ... province_of_onset district_of_onset
0            1.0     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2.0     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3.0     22/1/2020  ...            นครปฐม             เมือง
3            4.0     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5.0     24/1/2020  ...     กรุงเทพมหานคร               NaN
...          ...           ...  ...               ...               ...
543301  543302.0     28/7/2021  ...        สุพรรณบุรี               NaN
543302  543303.0     28/7/2021  ...        สุพรรณบุรี               NaN
543303  543304.0     28/7/2021  ...        สุพรรณบุรี               NaN
543304  543305.0     28/7/2021  ...           ปัตตานี               NaN
543305       NaN           NaN  ...               NaN               NaN

[543306 rows x 11 columns]

***Meta Data (Data อธิบาย Data)***

#ชี้ข้อมูลในตาราง

### ชี้แบบธรรมดาใช้[ชื่อ][colum]

In [12]:
data_cases[ 'risk' ]

0         คนต่างชาติเดินทางมาจากต่างประเทศ
1         คนต่างชาติเดินทางมาจากต่างประเทศ
2         คนต่างชาติเดินทางมาจากต่างประเทศ
3         คนต่างชาติเดินทางมาจากต่างประเทศ
4         คนต่างชาติเดินทางมาจากต่างประเทศ
                        ...
543301                    ทัณฑสถาน/เรือนจำ
543302                    ทัณฑสถาน/เรือนจำ
543303                    ทัณฑสถาน/เรือนจำ
543304                    ทัณฑสถาน/เรือนจำ
543305                                 NaN
Name: risk, Length: 543306, dtype: object

In [13]:
data_cases[ 'risk' ][784]

'สนามมวย'

### ชี้แบบ .iloc[](มองข้อมูลเป็น matrix)

In [15]:
data_cases.iloc[678,8]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [17]:
data_cases.iloc[-10:,[3,4,8]]

        sex   age              risk
543296  ชาย  47.0  ทัณฑสถาน/เรือนจำ
543297  ชาย  38.0  ทัณฑสถาน/เรือนจำ
543298  ชาย  39.0  ทัณฑสถาน/เรือนจำ
543299  ชาย  40.0  ทัณฑสถาน/เรือนจำ
543300  ชาย  38.0  ทัณฑสถาน/เรือนจำ
543301  ชาย  39.0  ทัณฑสถาน/เรือนจำ
543302  ชาย  37.0  ทัณฑสถาน/เรือนจำ
543303  ชาย  28.0  ทัณฑสถาน/เรือนจำ
543304  ชาย  26.0  ทัณฑสถาน/เรือนจำ
543305  NaN   NaN               NaN

In [18]:
data_cases.describe()

                 No.            age
count  543305.000000  491048.000000
mean   271653.000000      35.519252
std    156838.788338      16.197363
min         1.000000       1.000000
25%    135827.000000      25.000000
50%    271653.000000      34.000000
75%    407479.000000      46.000000
max    543305.000000     108.000000

In [ ]:
###from matplotlib import

###Missing Values

*NaN = Not a Number
*Null 
*Na = Not Available

In [19]:
data_cases.isnull()

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
543301  False          False  ...              False               True
543302  False          False  ...              False               True
543303  False          False  ...              False               True
543304  False          False  ...              False               True
543305   True           True  ...               True               True

[543306 rows x 11 columns]

In [ ]:
data_cases

###Handling Missing Value1 (ลบค่า)

Quiz 3 ให้หาว่าการทำ dropna() ทำให้ข้อมูลหายไปกี่ %

In [21]:
data_cases.dropna().shape

(385643, 11)

In [23]:
a = data_cases.dropna().shape[0]

In [24]:
a

385643

In [30]:
b = 547306

size before drop = 1000
size after drop = 10
we loss 99% drop of data

In [36]:
size before drop = '547306
size after drop = 385643
we loss 99% drop of data

SyntaxError: ignored